.mdl-data-table {
    position: relative;
    border: 1px solid rgba(0,0,0,.12);
    border-collapse: collapse;
    width: 75%;
    white-space: nowrap;
    font-size: 13px;
    background-color: #fff;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: #000;
}

.modal-content {
    position: relative;
    top: 3em;
}

.modal-dialog {
    width: 800px;
    margin: 30px auto;
}

.mdl-layout__header-row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    background: #66BB6A;
    flex-wrap: nowrap;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    box-sizing: border-box;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 64px;
    margin: 0;
    padding: 0 40px 0 80px;
}

.mdl-layout__header .mdl-layout__drawer-button {
    position: absolute;
    color: rgb(255,255,255);
    background-color: #66BB6A;
}

.mdl-layout__content {
    -ms-flex: 0 1 auto;
    position: relative;
    display: inline-block;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-flex-grow: 1;
    background-position: center;
    -ms-flex-positive: 1;
    z-index: 1;
    -webkit-overflow-scrolling: touch;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    max-width: 75%;
}

.btn-success {
    color: #fff;
    background-color: #786856;
    border-color: #786856;
}

.btn-success:hover {
    color: #fff;
    background-color: #786856;
    border-color: #786856;
}

a {
    text-decoration: none;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    padding: 16px;
    text-decoration: none;
}

.mdl-layout__header-row .mdl-navigation__link {
    line-height: 56px;
    padding: 0 16px;
    text-decoration: none;
}